include README
include LICENSE.spherepack
include MANIFEST.in
include setup.py
include Lib/__init__.py
include Lib/spharm.py
recursive-include html *
include examples/README
include examples/regrid_test.py
include examples/geodesic.py
include examples/spharmonic.py
include examples/galewskyetal_testcase.py
include src/*f
include src/_spherepack.pyf
