include README
include MANIFEST.in
include setup.py
include lib/__init__.py
include lib/spharm.py
recursive-include html *
include examples/FortranFormat.py
include examples/README
include examples/regrid_test.py
include examples/shallow_test.py
include examples/geodesic.py
include examples/spharmonic.py
include src/invlap.f
include src/lap.f
include src/multsmoothfact.f
include src/onedtotwod.f
include src/onedtotwod_vrtdiv.f
include src/_spherepack.pyf
include src/twodtooned.f
include src/twodtooned_vrtdiv.f
include src/getlegfunc.f
include src/specintrp.f
